input {
  width: 100% !important;
  background-color: rgba(255, 255, 255, 0.301) !important;
  border-radius: 5px !important;
  padding-left: 1em !important;
  color: white !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin: 0 !important;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
}

.search-container {
  position: relative;
  width: 15em !important;
}

.search-btn {
  cursor: pointer;
  position: absolute;
  padding: 1em !important;
  margin-right: 0.5em;
  right: 0;
  top: 50%;
  background: none !important;
  border: none !important;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}

.search-btn img {
  width: 1.6em;
}
